<div class="form-container">
    <h1>Ajouter un professeur</h1>
    <form #profForm="ngForm" (ngSubmit)="onSubmit(profForm)">
      <!-- Nom -->
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" ngModel required />
      </div>
  
      <!-- Prénom -->
      <div class="form-group">
        <label for="surname">Prénom</label>
        <input type="text" id="surname" name="surname" ngModel required />
      </div>
  
      <!-- Matière -->
      <div class="form-group">
        <label for="matiere">Matière</label>
        <input type="text" id="matiere" name="matiere" ngModel required />
      </div>

      <!-- Année scolaire -->
    <div class="form-group">
      <label for="anneeScolaire">Année scolaire</label>
      <select id="anneeScolaire" name="anneeScolaire" ngModel required>
        <option *ngFor="let year of yearsSchools" [value]="year.idSchool">
          {{ year.annee_scolaire }}
        </option>
      </select>
    </div>
  
      <!-- Bouton d'envoi -->
      <div class="form-actions">
        <button type="submit" mat-raised-button color="primary">Enregistrer</button>
        <button type="button" mat-button color="warn" (click)="onCancel()">Annuler</button>
      </div>
    </form>
  
    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </div>
  