.etudiant{
    width: 100%;
    height: 100vh;
    display: flex;
}
.menu{
    width: 10%;
    height: 100vh;
    background-color: rgba(200, 211, 200, 0.61);
}
.logo{
    width: 100%;
    height: 17vh;
    background-image: url(../../back-office/img/logo.png);
    background-size: cover;
}
.listmenu{
    width: 100%;
    height: 70vh;
}
.list p:hover{
    cursor: pointer;
}
.info{
    width: 90%;
    height: 100vh;
}
.head{
    width: 100%;
    height: 15vh;
    /* background-color: red; */
}
.bodyinfo{
    width: 100%;
    display: flex;
    justify-content: center;
}
.trueinfo{
    width: 90%;
    height: 80vh;
    background-color: rgba(200, 211, 200, 0.61);
    border-radius: 50px;
    padding: 10px;
}