
<div class="body">
    <h1>Se connecter en tant que administrateur</h1>
    <div class="formulaire">
        <form action="">
            <table>
                <tr>
                    <td class="name">Nom :</td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td class="name">Mot de passe :</td>
                    <td><input type="password" name="" id=""></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="connection">
        <button mat-flat-button color="primary" class="btnl" [routerLink]="['/back-office/etudiant']">connection</button>
    </div>
</div> 