
<div class="body">
    <h1>Se connecter en tant qu'administrateur</h1>
    <div class="formulaire">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <table>
                <tr>
                    <td class="name">email:</td>
                    <td>
                      <input type="email" formControlName="email">
                      <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                        Mail requis.
                      </div>
                    </td>
                </tr>
                <tr>
                  <td class="name">Mot de passe :</td>
                  <td>
                    <input type="password" formControlName="password">
                    <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
                      Mot de passe est requis.
                    </div>
                  </td>
                </tr>
            </table>
            <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">
              Connection
            </button>
        </form>
    </div>
</div> 