<div class="body">
    <!-- <div class="cc"> -->
        <div class="pict"></div>
        <h1>Bienvenue sur NySekoliko</h1>
        <div class="connection">
            <button mat-flat-button color="primary" class="btnl" [routerLink]="['/front-office/form-client']">
                Se connecter en tant qu'étudiant(e)
            </button>
            <button mat-flat-button color="primary" type="submit" class="btnl" [routerLink]="['/front-office/form-admin']">
                Se connecter en tant que administrateur
            </button>
        </div>
    <!-- </div> -->
</div> 