<div class="body">
  <h2>Ajouter une Année Scolaire</h2>
<form [formGroup]="form" (ngSubmit)="addYear()">
  <mat-form-field appearance="fill" class="formfield">
    <mat-label>Année Scolaire</mat-label>
    <input matInput formControlName="annee_scolaire" />
    <mat-error *ngIf="form.get('annee_scolaire')?.hasError('required')">
      L'année scolaire est obligatoire.
    </mat-error>
  </mat-form-field>

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <div class="actions">
    <button mat-button type="button" (click)="onCancel()">Annuler</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Ajouter
    </button>
  </div>
</form>

</div>
