<div class="etudiant">
  <div class="headerTable">
    <h1 *ngIf="className">Liste des étudiants dans la classe {{ className }} et Ajout des notes</h1>
    <p *ngIf="students.length > 0">Nombre d'étudiants : {{ studentCount }}</p>
    <button>Semestre</button>
  </div>
  <hr>
  <form [formGroup]="matiereForm" (ngSubmit)="onSubmit()">
    <div *ngIf="students.length > 0; else noData">
      <table class="full-width">
        <thead>
          <tr>
            <th>Voir</th>
            <th>Matricule</th>
            <th>Nom et prénom</th>
            <th>Note</th>
            <th>Coefficient</th>
            <th>ID Matière</th>
            <th>ID Semestre</th>
            <th>ID Année Scolaire</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>
              <button mat-icon-button>
                <mat-icon [routerLink]="['/back-office/etudiant/profilEtudiant', student.idEdt]">visibility</mat-icon>
              </button>
            </td>
            <td>{{ student.matricule }}</td>
            <td>{{ student.name }}</td>
            <td><input id="note" formControlName="note" type="text" /></td>
            <td><input id="coefficient" formControlName="coefficient" type="text" /></td>
            <td><input id="idMat" formControlName="idMat" type="number" /></td>
            <td><input id="idSem" formControlName="idSem" type="number" /></td>
            <td><input id="idSchool" formControlName="idSchool" type="number" /></td>
          </tr>
        </tbody>
      </table>
    </div>

    <button type="submit" [disabled]="matiereForm.invalid">Enregistrer toutes les notes</button>

    <ng-template #noData>
      <p>Aucun étudiant trouvé pour cette classe.</p>
    </ng-template>
  </form>
</div>
