p {
  text-align: center;
}

form {
  max-width: 100%;
  margin: 20px auto;
  padding: 0 15px;
  box-sizing: border-box;
}

div {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  background-color: #cccccc;
}

small {
  color: red;
  font-size: 0.9em;
}

/* Responsive pour petits écrans */
@media (max-width: 600px) {
  form {
    max-width: 90%; /* Utilise 90% de la largeur pour éviter des marges trop grandes */
  }

  button {
    padding: 12px 10px; /* Ajuste les marges pour de petits écrans */
  }

  input {
    font-size: 0.95em; /* Réduit la taille de police pour plus de clarté */
  }
}

/* Responsive pour tablettes */
@media (min-width: 601px) and (max-width: 1024px) {
  form {
    max-width: 80%;
  }

  button {
    padding: 10px 12px;
  }
}

/* Responsive pour écrans larges */
@media (min-width: 1025px) {
  form {
    max-width: 600px;
  }
}
