<nav class="navBar">
    <div class="logo"></div>
    <div class="menu">
        <nav>
            <a routerLink="/back-office/etudiant">Etudiants</a>
            <a routerLink="/back-office/class">Classes</a>
            <a routerLink="/back-office/prof">Professeurs</a>
            <a routerLink="/back-office/tablematiere">Matières</a>
            <a routerLink="/back-office/tablesemestre">Semèstres</a>
            <a routerLink="/back-office/tablenote">Notes</a>
            <a routerLink="/back-office/tablesalaire">Salaires</a>
            b
        </nav>
    </div>
  </nav>
  <hr>
  <router-outlet></router-outlet>