/* Styles de base */
.navBar {
    background: #333;
    padding: 10px 20px;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Styles du menu */
  .menu {
    display: flex;
    gap: 15px;
  }
  
  /* Liens du menu */
  .menu nav a {
    color: rgb(196, 197, 204);
    text-decoration: none;
    padding: 8px 12px;
    transition: 0.3s;
  }
  
  .menu nav a:hover {
    background: #555;
    border-radius: 5px;
  }
  
  /* Bouton hamburger */
  .menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .logo{
    width: 8vh;
    height: 8vh;
    background-image: url(./img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0vh;
    background-color: rgb(254, 254, 254);
    border-radius: 500px;
}


  @media screen and (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 2%;
      width: 30%;
      background: rgb(134, 124, 124);
      padding: 10px 0;
    }
  
    .menu.active {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }

    .logo{
        width: 5vh;
        height: 5vh;
        background-image: url(./img/logo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 0;
        background-color: rgb(254, 254, 254);
        border-radius: 500px;
    }
  }
  