<div class="classform">
    <div class="headerTableform">
      <h1>Ajouter une classe</h1>
    </div>
    <hr />
    <div class="cardClass">
        <div class="cardform">
            <h3>Nom du titulaire :</h3>
            <mat-form-field>
                <mat-label>Titulaire</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="cardform">
            <h3>Niveau :</h3>
            <mat-form-field>
                <mat-label>Classe</mat-label>
                <mat-select>
                    <mat-option value="6ème">6ème</mat-option>
                    <mat-option value="5ème">5ème</mat-option>
                    <mat-option value="4ème">4ème</mat-option>
                    <mat-option value="3ème">3ème</mat-option>
                    <mat-option value="2nd">2nd</mat-option>
                    <mat-option value="1ère">1ère</mat-option>
                    <mat-option value="Terminale">Terminale</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="cardform">
            <h3>Numero du classe :</h3>
            <mat-form-field>
                <mat-select>
                    <mat-option value="A">A</mat-option>
                    <mat-option value="B">B</mat-option>
                    <mat-option value="C">C</mat-option>
                    <mat-option value="D">D</mat-option>
                    <mat-option value="E">E</mat-option>
                    <mat-option value="F">F</mat-option>
                    <mat-option value="G">G</mat-option>
                </mat-select>
            </mat-form-field>
        </div>  
    </div>
    <div class="classbtn">
        <button mat-flat-button>Ajouter</button>
    </div>
  </div>
  