<div class="class">
  <div class="headerTable">
    <h1>Liste des classes</h1>

    <mat-form-field appearance="fill" class="btnAdd">
      <mat-label>Sélectionner une année scolaire</mat-label>
      <mat-select [(value)]="selectedYear" (selectionChange)="onYearChange()">
        <mat-option [value]="null">Toutes les années</mat-option>
        <mat-option *ngFor="let year of years" [value]="year.annee_scolaire">
          {{ year.annee_scolaire }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-stroked-button color="primary" class="btnAdd" [routerLink]="['/back-office/class/addClass']">Année et Classes</button>
    <button mat-stroked-button color="primary" class="btnAdd" [routerLink]="['/back-office/class/addClass']">Ajouter</button>
  </div>
  <hr>

  <div *ngFor="let year of filteredYears">
    <h3>{{ year.annee_scolaire }}</h3> 

    <div class="cardClass">
      <mat-card class="example-card" *ngFor="let class of year.classes" [routerLink]="['/back-office/class/listEtClass', class.idCls]">
        <mat-card-header>
          <mat-card-title>{{ class.name }} {{ class.num }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Titulaire: {{ class.titulaire }}</p>
          <!-- <p>Numéro: {{ class.num }}</p> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
