.btnAdd {
    margin-top: 15px;
    font-size: 14px;
  }

  .headerTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

.table-container {
    margin: 20px;
    overflow-x: auto;
  }
  
  .headerTable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* .btnAdd {
    margin-top: 30px;
    font-size: 16px;
  } */
  
  @media (max-width: 768px) {
    .table-container {
      padding: 10px;
    }
  
    .mat-table {
      width: 100%;
      table-layout: auto;
    }
  
    .mat-header-cell, .mat-cell {
      padding: 8px;
      font-size: 14px;
    }
  
    .btnAdd {
      margin-top: 15px;
      font-size: 14px;
    }
  
    .mat-column-idSal, 
    .mat-column-idProf, 
    .mat-column-idSchool {
      display: none;
    }
  
    .mat-column-actions {
      display: none;
    }
  
    mat-paginator {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .headerTable {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .mat-header-cell, .mat-cell {
      font-size: 12px;
    }
  
    .btnAdd {
      font-size: 12px;
      margin-top: 10px;
    }

    .mat-table {
      font-size: 12px;
    }
  }
  