<div class="profil">
  <div class="apropos" *ngIf="client">
    <h1>{{ client.name }} {{ client.surname }}</h1>
    <p>N° Matricule : {{ client.matricule }}</p>
    <p>Classe: {{ client.idCls }}</p>
    <p>Né(e) le : {{ client.date_naiss }}</p>
    <p>A : {{ client.lieu_naiss }}</p>
    <p>Sexe : {{ client.sexe }}</p>
    <p>Téléphone : {{ client.tel }}</p>
    <p>Adresse : {{ client.adress_edt }}</p>
    <p>Nom du Père : {{ client.father }}</p>
    <p>Nom du Mère : {{ client.mother }}</p>
    <p>Contact : {{ client.tel_parent }}</p>
    <p>Adresse : {{ client.adresse_parent }}</p>
  </div>
  <div class="image">
    <img src="assets/img/logo.png" alt="Logo">
  </div>
</div>
